// Mixins

.transition-all() {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.monospace () {
    font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.serif() {
	font-family: 'Lora', 'Times New Roman', serif;
}

.sans-serif () {
	/* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
	// 字体栈说明（LESS 4 不允许在多行值的逗号之间插注释，故注释集中放在上方）：
	//   System Font  https://www.webkit.org/blog/3709/using-the-system-font-in-web-content/
	//   -apple-system / BlinkMacSystemFont  OSX >=10.11 & iOS >=9  旧金山 & 苹方
	//   English First: "Helvetica Neue"(OSX), Arial(Win "Helvetica")
	//   Chinese Fallback: 苹方 / 冬青黑体 / 华文黑体 / 微软雅黑 / 微软正黑 /
	//                     思源黑体(SourceHan) / 文泉驿微米黑 / 中易宋体 / 系统兜底
	font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Helvetica Neue",
        "Arial",
        "PingFang SC",
        "Hiragino Sans GB",
        "STHeiti",
        "Microsoft YaHei",
        "Microsoft JhengHei",
        "Source Han Sans SC",
        "Noto Sans CJK SC",
        "Source Han Sans CN",
        "Noto Sans SC",
        "Source Han Sans TC",
        "Noto Sans CJK TC",
        "WenQuanYi Micro Hei",
        SimSun,
        sans-serif;

	line-height: 1.7;
}
